@{
    ViewBag.Title = "The Joel Hilton Film Collection";
    ViewBag.Footer = "The Joel Hilton Film Collection.";
}

<!--This is the main page. It has a welcome to the page and an image of Joel Hilton.-->

<div>
    <p>
        Welcome to the Joel Hilton Film Collection website! Joel Hilton is Professor Hilton's 2 years, 2 months, and 2 days younger brother. 
        He minored in Film Studies at BYU, contracts as a movie reviewer for ClearPlay, and does a weekly 
        podcast about movies called Baconsale with a couple friends.
    </p>
    <br />
    <br />
    <img src="~/img/JoelHilton.jpg" />
</div>