@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "My Podcasts: Baconsale";
    ViewBag.Footer = "The Joel Hilton Film Collection.";
}
<!--This is the podcast page. It has an external link to baconsale.com-->

<a href="https://baconsale.com/">Check out the Baconsale site!</a>
